@model Vivelin.Home.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home";
}

@if (Model.Quote != null)
{
    <blockquote>
        <p commonmark="@Model.Quote.Text"></p>
        <footer>
            <span>&mdash;</span>
            <cite>@Model.Quote.Citation</cite>
        </footer>
    </blockquote>
}
else
{
    <p>The quick brown fox jumped over the lazy dog.</p>
}