@model Vivelin.Home.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home";
}

@if (Model.Quote != null)
{
    <figure class="quote" id="@Model.Quote.ID">
        <blockquote use-commonmark="true">
            @Html.Raw(Model.Quote.Text)
        </blockquote>
        <figcaption>
            @Html.Raw(Model.Quote.Citation)
        </figcaption>
    </figure>
}

@if (User.Identity.IsAuthenticated)
{
    <p>Logged in as <b class="user-name">@User.Identity.Name</b>.</p>

    <form action="/logout" method="post">
        <input type="hidden" name="returnUrl" value="/" />
        <p><button type="submit">Log out</button></p>
    </form>
}
else
{
    <form action="/login" method="post">
        <input type="hidden" name="returnUrl" value="/" />
        <p><button type="submit">Connect using Twitch</button></p>
    </form>
}