@model IF.Lastfm.Core.Objects.LastTrack

<div class="status status--lastfm">
    <div class="content"><a href="@Model.Url" target="_blank" rel="external">@Model.ArtistName — @Model.Name</a></div>
</div>