@model IF.Lastfm.Core.Objects.LastTrack

<span class="status status--lastfm" title="Now playing">
    <img src="~/images/icons/lastfm.svg" class="lastfmIcon" alt="" />
    <a href="@Model.Url" target="_blank" rel="external">@Model.ArtistName — @Model.Name <span class="albumTitle">@Model.AlbumName</span></a>
</span>