$largeImage: 1.5em;
$footerBarHeight: 32px;

.with.image {
    line-height: $largeImage;

    img {
        height: $largeImage;
        vertical-align: bottom;
    }
}

.avatar {
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 0 0 2px black;
}

/* For buttons that behave like hyperlinks (e.g. POST form action that triggers a redirect) */
button.link {
    border: none;
    background-color: transparent;
    padding: 0;
    color: $accentPrimary;
}

button.link:hover,
button.link:active {
    text-decoration: underline;
}

.footerBar {
    display: flex;
}

.footerBar section {
    margin-right: .5rem;
    line-height: $footerBarHeight;
}

ul.icon-list {
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;

    li {
        float: left;
        margin-right: .5em;
    }

    li:last-child {
        margin-right: 0;
    }
}

.website.icon img {
    width: $footerBarHeight;
    height: $footerBarHeight;
    vertical-align: bottom;
    background-color: $accentPrimary;
}

figure.quote {
    margin-left: 1em;
    margin-right: 1em;

    blockquote {
        margin-left: 0;
        margin-right: 0;
    }

    figcaption:before {
        content: '—';
    }
}

.overlay {
    background: rgba(0, 0, 0, .6);
    color: white;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    overflow: hidden;
}

.twitchStreams {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;

    .loader {
        margin: .5rem 0;
    }
}

.twitchStream {
    $spacing: 5px;
    $headerSize: 50px;
    $width: ((960px - (3 * $spacing)) / 3);
    $height: $width * (9 / 16);

    width: $width;
    height: $height;
    margin-right: $spacing;
    margin-bottom: $spacing;
    overflow: hidden;

    .twitchStream-thumbnail {
        width: $width;
        height: $height;
    }

    figcaption {
        height: $headerSize;
        font-size: .8rem;
        position: relative;
        top: -$height;
        padding: $spacing;
        margin-top: -5px; /* For some reason, there's an extra ~5px margin on top */
        overflow: hidden;
    }

    figcaption > a {
        display: block;
        height: $headerSize;
        color: white;
    }

    .twitchStream-profileImage {
        width: $headerSize;
        height: $headerSize;
        float: left;
    }

    .twitchStream-title,
    .twitchStream-description {
        display: inline-block;
        width: calc(#{$width} - #{$headerSize} - #{$spacing * 4});
        margin: $spacing $spacing 0 $spacing;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .twitchStream-title {
        font-weight: 600;
    }
}

.too-many-cooks {
    color: #e6d140;
    font-family: Georgia, serif;
    font-size: 2em;
    font-style: normal;
    font-variant: small-caps;
    display: inline-block;
    transform: skew(-5deg, 0deg);
    text-shadow: 1px 1px #000, 1px 1px 0.1px #000;

    a {
        color: #e6d140;
    }
}
