$largeImage: 1.5em;

.with.image {
    line-height: $largeImage;

    img {
        height: $largeImage;
        vertical-align: bottom;
    }
}

.avatar {
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 0 0 2px black;
}

ul.icon-list {
    list-style-type: none;
    padding-left: 0;

    li {
        float: left;
        margin-right: .5em;
    }

    li:last-child {
        margin-right: 0;
    }
}

.website.icon img {
    width: 32px;
    height: 32px;
    vertical-align: bottom;
    background-color: $accentPrimary;
}

figure.quote {
    margin-left: 1em;
    margin-right: 1em;

    blockquote {
        margin-left: 0;
        margin-right: 0;
    }

    figcaption:before {
        content: '—';
    }
}

.twitchStreams {
    display: flex;
    flex-wrap: wrap;
}

.twitchStream {
    width: 320px;
    height: 180px;
    // background-image doesn't work with attr() so it's expected to be set in-line
    background-size: contain;
    background-repeat: no-repeat;
    margin: .25rem .5rem .25rem 0;
    overflow: hidden;
}

.twitchStream header {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.2), transparent);
    min-height: 60px;
}

.twitchStream-profileImage {
    margin: .25rem;
    width: 60px;
    height: 60px;
    float: left;
}

.twitchStream-title {
    font-family: Lato, sans-serif;
    font-size: .8rem;
    font-weight: 400;
    color: white;

    display: block;
    line-height: 1.4;
    padding: .25rem;
}
