$largeImage: 1.5em;

.with.image {
    line-height: $largeImage;

    img {
        height: $largeImage;
        vertical-align: bottom;
    }
}

.avatar {
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 0 0 2px black;
}

ul.icon-list {
    list-style-type: none;
    padding-left: 0;

    li {
        float: left;
        margin-right: .5em;
    }

    li:last-child {
        margin-right: 0;
    }
}

.website.icon img {
    width: 32px;
    height: 32px;
    vertical-align: bottom;
    background-color: $accentPrimary;
}

figure.quote {
    margin-left: 1em;
    margin-right: 1em;

    blockquote {
        margin-left: 0;
        margin-right: 0;
    }

    figcaption:before {
        content: '—';
    }
}

.twitchStreams {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;

    .loader {
        margin: .5rem 0;
    }
}

.twitchStream {
    $spacing: 5px;
    $headerSize: 50px;
    $width: ((960px - (3 * $spacing)) / 3);
    $height: $width * (9 / 16);

    width: $width;
    height: $height;
    margin-right: $spacing;
    margin-bottom: $spacing;
    overflow: hidden;

    .twitchStream-thumbnail {
        width: $width;
        height: $height;
    }

    figcaption {
        height: $headerSize;
        font-size: .8rem;
        color: white;
        position: relative;
        top: -$height;
        margin: $spacing;
        padding: $spacing;
        margin-top: 0; /* For some reason, there's an extra ~5px margin on top */
        background: rgba(0, 0, 0, .6);
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(1px);
        overflow: hidden;
    }

    figcaption > a {
        display: block;
        height: $headerSize;
        color: white;
    }

    .twitchStream-profileImage {
        width: $headerSize;
        height: $headerSize;
        float: left;
    }

    .twitchStream-title,
    .twitchStream-description {
        display: inline-block;
        width: calc(#{$width} - #{$headerSize} - #{$spacing * 6});
        margin: $spacing $spacing 0 $spacing;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .twitchStream-title {
        font-weight: 600;
    }
}