@charset "UTF-8";
/*
    // Night mode

    $background: #212121;
    $foreground: #fafafa;
    $accentPrimary: #8fc045;
    $accentSecondary: #ea005e;
*/
/*
    // Game Boy mode

    $background: #9bbc0f;
    $foreground: #0f380f;
    $accentPrimary: #306230;
    $accentSecondary: #306230;
*/
body {
  font-family: Merriweather, 'Sitka Text', 'Palatino Linotype', serif;
  font-size: 1.2rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, sans-serif; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.17em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: .83em; }

blockquote footer {
  font-size: .8em; }

html {
  color: #212121;
  background-color: white; }

body {
  margin: 1em; }

body > header,
body > main,
body > footer {
  margin: 0 auto;
  max-width: 960px; }

body > footer {
  margin-top: 4em; }

hr {
  border: none;
  border-top: 1px solid rgba(33, 33, 33, 0.2); }

a {
  color: #ea005e;
  text-decoration: none; }

a:visited {
  color: #c32766; }

a:hover, a:active {
  text-decoration: underline; }

.with.image {
  line-height: 1.5em; }
  .with.image img {
    height: 1.5em;
    vertical-align: bottom; }

.avatar {
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 0 0 2px black; }

ul.icon-list {
  list-style-type: none;
  padding-left: 0; }
  ul.icon-list li {
    float: left;
    margin-right: .5em; }
  ul.icon-list li:last-child {
    margin-right: 0; }

.website.icon img {
  width: 32px;
  height: 32px;
  vertical-align: bottom;
  background-color: #ea005e; }

figure.quote {
  margin-left: 1em;
  margin-right: 1em; }
  figure.quote blockquote {
    margin-left: 0;
    margin-right: 0; }
  figure.quote figcaption:before {
    content: '—'; }

.twitchStreams {
  display: flex;
  flex-wrap: wrap; }

.twitchStream {
  width: 320px;
  height: 180px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: .25rem .5rem .25rem 0;
  overflow: hidden; }

.twitchStream header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2), transparent);
  min-height: 60px; }

.twitchStream-profileImage {
  margin: .25rem;
  width: 60px;
  height: 60px;
  float: left; }

.twitchStream-title {
  font-family: Lato, sans-serif;
  font-size: .8rem;
  font-weight: 400;
  color: white;
  display: block;
  line-height: 1.4;
  padding: .25rem; }

