@charset "UTF-8";
/*
    // Night mode

    $background: #212121;
    $foreground: #fafafa;
    $primary: #8fc045;
    $secondary: #ea005e;
*/
/*
    // Game Boy mode

    $background: #9bbc0f;
    $foreground: #0f380f;
    $primary: #306230;
    $secondary: #306230;
*/
body {
  font-family: Literata, 'Sitka Text', 'Palatino Linotype', serif;
  font-size: 1.2rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6, .twitchStream {
  color: var(--foreground-color-intense);
  font-family: 'IBM Plex Sans', sans-serif; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.17em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: .83em; }

figcaption {
  font-size: .8em; }

footer {
  font-size: .8em; }

ins {
  font-style: italic;
  text-decoration: none; }

:root {
  --background-color: white;
  --foreground-color: #212121;
  --foreground-color-muted: #595959;
  --foreground-color-intense: #000;
  --primary-color: #ea005e;
  --primary-color-muted: #c32766; }

html {
  color: #212121;
  color: var(--foreground-color);
  background-color: white;
  background-color: var(--background-color); }

:focus {
  box-shadow: 0 0 1px 1px #ea005e;
  box-shadow: 0 0 1px 1px var(--primary-color);
  outline: 1px solid #ea005e;
  outline: 1px solid var(--primary-color); }

.content,
body > main,
body > footer {
  margin: 0 auto;
  max-width: 960px; }

header {
  line-height: 1.2; }

main, footer {
  clear: both; }

body > footer {
  margin-top: 4em; }

hr {
  border: none;
  border-top: 1px solid rgba(33, 33, 33, 0.2); }

a {
  color: #ea005e;
  color: var(--primary-color);
  text-decoration: none; }

a:visited {
  color: #c32766;
  color: var(--primary-color-muted); }

a:hover, a:active {
  text-decoration: underline; }

@media (max-width: 992px) {
  .content,
  body > main,
  body > footer {
    margin-left: 16px;
    margin-right: 16px; } }

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #18181f;
    --foreground-color: #dedede;
    --foreground-color-muted: #969696;
    --foreground-color-intense: #FFF;
    --primary-color: #8fc045;
    --primary-color-muted: #668a2f; } }

.with.image {
  line-height: 1.5em; }
  .with.image img {
    height: 1.5em;
    vertical-align: bottom; }

.avatar {
  border: 1px solid #212121;
  border: 1px solid var(--foreground-color);
  border-radius: 2px;
  box-shadow: 0 0 2px #212121;
  box-shadow: 0 0 2px var(--foreground-color); }

/* For buttons that behave like hyperlinks (e.g. POST form action that triggers a redirect) */
button.link {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
  color: #ea005e;
  color: var(--primary-color);
  font-weight: inherit; }

button.link:hover,
button.link:active {
  text-decoration: underline; }

.footerBar {
  display: flex; }

.footerBar section {
  margin-right: .5rem;
  line-height: 32px; }

.userName.loggedIn {
  font-weight: 600; }
  .userName.loggedIn small {
    color: #595959;
    color: var(--foreground-color-muted);
    font-weight: 400;
    font-size: 1rem; }

ul.icon-list {
  list-style-type: none;
  padding-left: 0;
  overflow: hidden; }
  ul.icon-list li {
    float: left;
    margin-right: .5em; }
  ul.icon-list li:last-child {
    margin-right: 0; }

.website.icon img {
  width: 32px;
  height: 32px;
  vertical-align: bottom;
  background-color: #ea005e;
  background-color: var(--primary-color); }

figure.quote {
  margin-left: 1em;
  margin-right: 1em; }
  figure.quote blockquote {
    margin-left: 0;
    margin-right: 0; }
  figure.quote figcaption:before {
    content: '—'; }

dl.dialog dt {
  display: inline;
  font-weight: 600; }

dl.dialog dt:before {
  content: '';
  display: block;
  margin-top: 1em; }

dl.dialog dt:after {
  content: ': '; }

dl.dialog dd {
  display: inline;
  margin: 0;
  quotes: "\201C" "\201D" "\2018" "\2019"; }
  dl.dialog dd q {
    display: inline;
    margin: 0;
    quotes: "\2018" "\2019" "\201C" "\201D"; }

dl.dialog dd:before {
  content: open-quote; }

dl.dialog dd:after {
  content: close-quote; }

.overlay {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  overflow: hidden; }

.twitchStreams {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0; }
  .twitchStreams .loader {
    margin: .5rem 0; }

.twitchStream {
  width: 315px;
  height: 177.1875px;
  margin: 0 5px 5px 0;
  overflow: hidden;
  line-height: 1.2; }
  .twitchStream .twitchStream-thumbnail {
    width: 315px;
    height: 177.1875px; }
  .twitchStream figcaption {
    height: 50px;
    font-size: .8rem;
    position: relative;
    top: -177.1875px;
    padding: 5px;
    margin-top: -5px;
    /* For some reason, there's an extra ~5px margin on top */
    overflow: hidden; }
  .twitchStream figcaption > a {
    display: block;
    height: 50px;
    color: white; }
  .twitchStream .twitchStream-profileImage {
    width: 50px;
    height: 50px;
    float: left; }
  .twitchStream .twitchStream-title,
  .twitchStream .twitchStream-description {
    display: inline-block;
    width: calc(315px - 50px - 20px);
    margin: 5px 5px 0 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .twitchStream .twitchStream-title {
    font-weight: 600; }

.too-many-cooks {
  color: #e6d140;
  font-family: Georgia, serif;
  font-size: 2em;
  font-style: normal;
  font-variant: small-caps;
  display: inline-block;
  transform: skew(-5deg, 0deg);
  text-shadow: 1px 1px #000, 1px 1px 0.1px #000; }
  .too-many-cooks a {
    color: #e6d140; }

.status {
  display: block;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
  .status a {
    color: currentColor; }
  .status a:hover {
    text-decoration: none; }

.status--lastfm .albumTitle {
  opacity: .6;
  font-weight: 400;
  font-style: italic; }

.status--twitch .streamTitle {
  opacity: .6;
  font-weight: 400;
  font-style: italic; }

.lastfmIcon {
  fill: #b90000;
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px;
  margin-top: -10px;
  margin-right: .125em; }

.glitchIcon {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
  margin-top: -4px;
  margin-right: .125em; }

header .avatar {
  float: left;
  margin-right: .67em;
  height: 5em; }

@media (max-device-width: 480px) {
  header .avatar {
    display: none; } }

h1 .subtitle {
  margin-top: -.67em; }

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: rgba(33, 33, 33, 0.03);
  border-radius: 2px; }

.loader[hidden] {
  display: block;
  visibility: hidden; }

.loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #ea005e;
  animation: ltr 2s ease-in-out infinite; }

@keyframes ltr {
  from {
    left: -200px; }
  to {
    left: 100%; } }
