<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vivelin.net</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700|Merriweather:400,600">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/normalize-css/normalize.css" />
        <link rel="stylesheet" href="~/lib/normalize-opentype.css/normalize-opentype.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/normalize.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header class="content">
        <img class="avatar" src="~/images/avatars/midna.png" alt="" />
        <h1>
            Vivelin
            <span class="subtitle">@await Component.InvokeAsync("Status")</span>
        </h1>
    </header>

    <main class="content">
        @RenderBody()
    </main>

    <footer class="content">
        <nav class="footerBar">
            <section>
                <ul class="icon-list">
                    <li>
                        <a class="website icon" href="https://twitter.com/VivelinPrime" rel="external">
                            <img src="~/images/icons/twitter.png" alt="@@VivelinPrime on Twitter" />
                        </a>
                    </li>
                    <li>
                        <a class="website icon" href="https://github.com/Vivelin" rel="external">
                            <img src="~/images/icons/github.png" alt="Vivelin on GitHub" />
                        </a>
                    </li>
                </ul>
            </section>
            <section>
                @if (User.Identity.IsAuthenticated)
                {
                    <form action="/logout" method="post">
                        <input type="hidden" name="returnUrl" value="/" />
                        <p>Not @User.Identity.Name? <button class="link" type="submit">Log out</button></p>
                    </form>
                }
                else
                {
                    <form action="/login" method="post">
                        <input type="hidden" name="returnUrl" value="/" />
                        <p><button class="link" type="submit">Connect using Twitch</button></p>
                    </form>
                }
            </section>
        </nav>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>