<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vivelin.net</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Merriweather:400,400i,600,700">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/normalize-css/normalize.css" />
        <link rel="stylesheet" href="~/lib/normalize-opentype.css/normalize-opentype.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/normalize.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header class="content">
        <img class="avatar" src="~/images/avatars/midna.png" alt="" />
        <h1>
            Vivelin
            <span class="subtitle" data-src="status">@await Component.InvokeAsync("Status", new { cacheOnly = true })</span>
        </h1>
    </header>

    <main class="content">
        @RenderBody()
    </main>

    <footer class="content">
        <nav class="footerBar">
            <section>
                @if (User.Identity.IsAuthenticated)
                {
                    var name = User.FindFirst(AspNet.Security.OAuth.Twitch.TwitchAuthenticationConstants.Claims.DisplayName)?.Value;
                    if (string.IsNullOrEmpty(name))
                    {
                        name = User.Identity.Name;
                    }

                    <form action="/logout" method="post">
                        <input type="hidden" name="returnUrl" value="/" />
                        <p class="userName loggedIn">Hey, @name! <small>Not you? <button class="link" type="submit">Log out</button></small></p>
                    </form>
                }
                else
                {
                    <form action="/login" method="post">
                        <input type="hidden" name="returnUrl" value="/" />
                        <p><button class="link" type="submit">Connect using Twitch</button></p>
                    </form>
                }
            </section>
        </nav>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>